<!doctype html> 
<html> 
<style> 
    .zoom 
    { 
        transition: transform  2s; 
 
    } 
    .zoom:hover 
    { 
        transform: scale(1.2); 
    } 
    .links 
    { 
        border-radius:px; 
    } 
    .links:hover 
    { 
        background-color:pink; 
    } 
 
</style> 
<script src="../javascripts/script.js"></script>
<head> 
    <meta charset="utf-8"> 
    <title>Benim Yemeğim</title> 
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"> 
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="../css/style.css"> 
</head> 
<body> 
<div class="ust"> 
     
    <div class="ortala"> 
        <div class="logo"> 
                <label  id ="mesaj"style="margin: 25px; color:aliceblue">Hoşgeldin</label>
            <a href="index2.html"> 
                <img src="../images/logo.png" width="220px" height="130px"> 
            </a> 
        </div> 
       
        <nav class="menu"> 
            <ul> 
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a class = "links" href="#">Tariflerim</a></li> 
                <li><a class = "links" href="#">Favorilerim</a></li> 
 
            </ul> 
        </nav> 
    </div> 
</div> 
<div class="temizle"></div> 
<div class="icerik"> 
    <div class="ortala"> 
        <img src="../images/index.jpeg" width="950" height="500" alt="resim"> 
        <h1 class="anasayfa_baslik">TARİFLER </h1> 
        <div class="temizle"></div> 
        <div class="satır"> 
            <div class="ozet"> 
                
                <div class="zoom"><a href="http://localhost:3000/kurabiye"><img src="../images/bademli-kurabiye-2.jpg" width="200" height="150" alt="yemek1"></a> </div> 
                <h2 class="tarif_yazi">Kurabiye </h2> 
                <p>TARİF</p> 
            </div> 
            <div class="ozet"> 
                <div class="zoom"><a href="http://localhost:3000/bulgurpilavi"><img src="../images/bulgurpilavi.jpg" width="200" height="150" alt="yemek2"></a></div> 
                <h2 class="tarif_yazi">Bulgur Pilavı</h2> 
                <p>TARİF</p> 
            </div> 
            <div class="ozet"> 
                <div class="zoom"><a href="http://localhost:3000/hunkarbegendi"><img src="../images/hunkarbegendi.jpg" width="200" height="150" alt="yemek3"></a></div> 
                <h2 class="tarif_yazi">Hünkar Beğendi</h2> 
                <p>TARİF</p> 
            </div> 
            <div class="ozet"> 
                <div class="zoom"><a href="http://localhost:3000/kek"><img src="../images/kek.jpg" width="200" height="150" alt="yemek3"></a></div> 
                <h2 class="tarif_yazi">Üçgen Kek</h2> 
                <p>TARİF</p> 
            </div> 
            <div class="satır"> 
                <div class="ozet"> 
                    <div class="zoom"><a href="http://localhost:3000/kebap"><img src="../images/kurdankebab.jpg" width="200" height="150" alt="yemek1"></a> </div> 
                    <h2 class="tarif_yazi">Kürdan Kebabı</h2> 
                    <p>TARİF</p> 
                </div> 
                <div class="ozet"> 
                    <div class="zoom"><a href="http://localhost:3000/lazanya"><img src="../images/lazanya.jpg" width="200" height="150" alt="yemek2"></a></div> 
                    <h2 class="tarif_yazi">Lazanya</h2> 
                    <p>TARİF</p> 
                </div> 
                <div class="ozet"> 
                    <div class="zoom"><a href="http://localhost:3000/muffin"><img src="../images/muffin.jpg" width="200" height="150" alt="yemek3"></a></div> 
                    <h2 class="tarif_yazi">Muffin</h2> 
                    <p>TARİF</p> 
                </div> 
                <div class="ozet"> 
                    <div class="zoom"><a href="http://localhost:3000/pancake"><img src="../images/pancake.jpg" width="200" height="150" alt="yemek3"></a></div> 
                    <h2 class="tarif_yazi">Pancake</h2> 
                    <p>TARİF</p> 
                </div> 
 
<div class="temizle"></div> 
<div class="alt"> 
    <div class="ortala"> 
        <p>Tüm Haklar Saklıdır </a></p> 
 
    </div> 
</div> 
</body> 
</html>