
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim Yemeğim</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <img src="../images/logo.png" width="220px" height="140px">
        </div>
        <nav class="menu">
            <ul>
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="icerik">
    <h1 class="yemek_adi">Sebzeli Bulgur Pilavı Tarifi</h1>
    <div class="ortala">

        <div class="satir1">
            <img src="../images/bulgurpilavi.jpg" width="750px" height="350px" class="kurabiye" >
    
            <div class="satir2">
                <div class="sutun2">
                    <div class="panel">
                        <h1 class="panel-baslik">Malzeme Listesi</h1>
                        <ul class="malzeme">
                            <li>2 su bardağı bulgur </li>
                            <li>4 yemek kaşığı zeytinyağı </li>
                            <li>1 adet büyük boykuru soğan</li>
                            <li>2 diş sarımsak</li>
                            <li>1 adet patlıcan </li>
                            <li>1 adet kabak</li>
                            <li>1 adet kapya biber</li>
                            <li>2-3 adet yeşil biber</li> 
                            <li>2 adet domates</li> 
                            <li>1 tepeleme tatlı kaşığı tuz</li> 



                        </ul>
                    </div>
                </div>
                <div class="sutun2">
                    <div class="panel sagbosluk">
                        <h1 class="panel-baslik">Yapılışı</h1>
                        <ul class="malzeme">
                                <li>Soğanları ve minik doğrandığımız sarmısakları ağır ateşte, zeytinyağında pembeleştiriyoruz.</li>
                                <li>2 bardak bulgur ilave edip yine ağır ateşte kavuruyoruz.  İri küpler halinde doğradığımız patlıcan ve kabağı ekliyoruz.</li>
                                <li>Sırada biberler var. Onları da ister jülyen, ister halka halinde doğrayarak ekleyin. Küp küp doğranmış domatesler ve tuz ilavesiyle biraz daha karışsınlar.</li>
                                <li>Artık su ile buluşup, pişme ve demlenme kısmına geçebiliriz.</li>
                                <li>Demlenmeye bırakmadan önce üzerine kuru reyhan veya nane serpebilirsiniz. 20 dakika dinlendikten sonra servis hazır. Afiyet olsun.</li>


                            </ul>
                    </div>

                    
</div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Copyright © JavaScript Grup 2019. Tüm hakları saklıdır. </p>
        
        </div>
    </div>
</div>
</body>
</html>