<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim Yemeğim</title>
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/anasayfa.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <a href="index2.html">
                <img src="../images/logo.png" width="220px" height="140px">
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="http://localhost:3000/anasayfa">Anasayfa</a></li>
                <li><a href="http://localhost:3000/hakkimizda">Hakkında</a></li>
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>

            </ul>
        </nav>
    </div>
</div>
<div class="temizle"></div>
<div class="icerik">
    <div class="ortala">

            <img src="../images/hakkimizda_logo.jpg" width="500" height="200" alt="resim">

            <div class="temizle"></div>

        <div class="satır">
            <div class="ozet">
                <div class="resim"><img src="../images/zehra1.png" width="200" height="200" alt="resim"></div>
                <h2>Fatma Zehra SOLAK</h2>
                <p>Konya Teknik Üniversitesi'nde 4. Sınıf </p>
                <p>Bilgisayar Mühendisliği okuyor.</p>
                <p>Hayali var.</p>
            </div>
            <div class="ozet">
                <div class="resim"><img src="../images/gamze.png" width="200" height="200" alt="resim2"></div>
                <h2>Gamze YILDIZ</h2>
                <p>Ankara Üniversite'sinde 3.Sınıf </p>
                <p>Bilgisayar Mühendisliği okuyor.</p>
                <p>Hayali var.</p>
            </div>
            <div class="ozet">
                <div class="resim"><img src="../images/zubeyir.jpeg" width="200" height="200" alt="resim3"></div>
                <h2>Zübeyir AKÇA</h2>
                <p>Selçuk Üniversitesi'nde 3.Sınıf  </p>
                <p>Bilgisayar Mühendisliği okuyor.</p>
                <p>Hayali yok.</p>
            </div>

        </div>



                <div class="temizle"></div>
            <div class="satir">
                <div class="sutun2">
                    <div class="ozet">
                        <div class="resim"><img src="../images/zehra2.png" width="150" height="200" alt="resim2"></div>
                        <h2>Zehra KARABAKAN</h2>
                        <p>Karabük Üniversitesi'nden mezun </p>
                        <p>Mekatronik Mühendisliği okudu.</p>
                        <p>Hayali var</p>
                    </div>
                    <div class="ozet">
                        <div class="resim"><img src="../images/sena.jpg" width="125" height="200" alt="resim3"></div>
                        <h2>Sena KUDU</h2>
                        <p>Ankara Üniversitesi'nden mezun  </p>
                        <p>Bilgisayar Mühendisliği okudu.</p>
                        <p>Hayali var</p>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Tüm Haklar Saklıdır </p>

    </div>
</div>
</body>
</html>