<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim Yemeğim</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <img src="../images/logo.png" width="220px" height="140px">
        </div>
        <nav class="menu">
            <ul>
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="icerik">
    <h1 class="yemek_adi">Hünkar Beğendi Tarifi</h1>
    <div class="ortala">

        <div class="satir1">
            <img src="../images/hunkarbegendi.jpg" width="750px" height="350px" class="kurabiye" >
    
            <div class="satir2">
                <div class="sutun2">
                    <div class="panel">
                        <h1 class="panel-baslik">Malzeme Listesi</h1>
                        <ul class="malzeme">
                            <li>3 adet közlenmiş patlıcan </li>
                            <li>1 yemek kaşığı tereyağı </li>
                            <li>1,5 su bardağı süt </li>
                            <li>1,5 yemek kaşığı un</li>
                            <li>250 gr kavurma </li>
                            <li>2 adet yeşil biber</li>
                            <li>2 adet domates </li>
                            <li>2-3 diş sarımsak </li>
                            <li>1 yemek kaşığı salça</li>
                            <li>1/2 çay bardağı sıvı yağ</li>      


                        </ul>
                    </div>
                </div>
                <div class="sutun2">
                    <div class="panel sagbosluk">
                        <h1 class="panel-baslik">Yapılışı</h1>
                        <ul class="malzeme">
                                <li>Kavurmayı tavaya alıp ısıtıyoruz, sıvı yağı ekliyoruz. Soğanları ve sarımsakları da ilave edip karıştırıyoruz. Soğanlar erimeye başlayınca biberi ve domatesleri ilave edip karıştırıyoruz.</li>
                                <li>Salçayı ve baharatları da ekleyerek karıştırmaya devam ediyoruz.</li>
                                <li>Beşamel sos için; tereyağı eritiyoruz. Unu ekleyiğ 5-6 dakika rengi değişene kadar kavuruyoruz.</li>
                                <li>Sütü ekliyoruz kavurmaya devam ediyoruz. Kıvam alınca tuzu ve karabiberi ekleyerek karıştırıyoruz.</li>


                            </ul>
                    </div>

                    
</div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Copyright © JavaScript Grup 2019. Tüm hakları saklıdır. </p>
        
        </div>
    </div>
</div>
</body>
</html>