<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim Yemeğim</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <img src="../images/logo.png" width="220px" height="140px">
        </div>
        <nav class="menu">
            <ul>
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="icerik">
    <h1 class="yemek_adi">Üçgen Kek Tarifi</h1>
    <div class="ortala">

        <div class="satir1">
            <img src="../images/kek.jpg" width="750px" height="350px" class="kurabiye" >
    
            <div class="satir2">
                <div class="sutun2">
                    <div class="panel">
                        <h1 class="panel-baslik">Malzeme Listesi</h1>
                        <ul class="malzeme">
                            <li>4 adet yumurta </li>
                            <li>1,5 su bardağı toz şeker </li>
                            <li>1 çay bardağı süt</li>
                            <li>1 çay bardağı sıvı yağ</li>
                            <li>2 su bardağı un </li>
                            <li>1 paket vanilin</li>
                            <li>1 paket kabartma tozu</li>
                            <li>2 yemek kaşığı kakao</li> 


                        </ul>
                    </div>
                </div>
                <div class="sutun2">
                    <div class="panel sagbosluk">
                        <h1 class="panel-baslik">Yapılışı</h1>
                        <ul class="malzeme">
                                <li>Geniş bir kaseye yumurta ve şekeri ekleyip, şeker iyice eriyene dek mikserle çırpın.</li>
                                <li>Süt ve yağı da ekleyin ve 1 dakika daha çırpın.</li>
                                <li>Kabartma tozu, vanilin ve unu da ekleyin, un içinde kaybolana dek karıştırın.</li>
                                <li>Yağlanmış, dikdörtgen bir borcamı güzelce yağlayın ve hazırladığınız kek karışımını içine boşaltın. Önceden ısıtılmış 185 derece fırında yaklaşık 20 dakika kontrollü olarak pişirin.</li>
                                <li>Her bir üçgenin kenarlarını çikolata sosuna batırın.Çikolata sosunun ardından bir tabağa aldığınız Hindistan cevizine bulayın.</li>


                            </ul>
                    </div>

                    
</div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Copyright © JavaScript Grup 2019. Tüm hakları saklıdır. </p>
        
        </div>
    </div>
</div>
</body>
</html>