<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim yemeğim</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <img src="../images/logo.png" width="220px" height="140px">
        </div>
        <nav class="menu">
            <ul>
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="icerik">
    <h1 class="yemek_adi">Nefis Lazanya Tarifi</h1>
    <div class="ortala">

        <div class="satir1">
            <img src="../images/lazanya.jpg" width="750px" height="350px" class="kurabiye" >
    
            <div class="satir2">
                <div class="sutun2">
                    <div class="panel">
                        <h1 class="panel-baslik">Malzeme Listesi</h1>
                        <ul class="malzeme">
                            <li>1 paket lazanya(yaprak hamur) </li>
                            <li>2 yemek kaşığı ayçiçek yağı </li>
                            <li>2 yemek kaşığı tereyağı </li>
                            <li>1 adet soğan(yemeklik doğranmış)</li>
                            <li>2 adet havuç(küp doğranmış) </li>
                            <li>400 gram orta yağlı kıyma</li>
                            <li>2 diş ezilmiş sarımsak </li>
                            <li>2 çay kaşığı tuz </li>
                            <li>1 çay kaşığı karabiber</li>
                            <li>4 adet rendelenmiş domates </li>      


                        </ul>
                    </div>
                </div>
                <div class="sutun2">
                    <div class="panel sagbosluk">
                        <h1 class="panel-baslik">Yapılışı</h1>
                        <ul class="malzeme">
                                <li>Ayçiçek yağını bir tavada kızdırın. Doğranmış soğanları 3- 4 dakika kadar kavurun. Üzerine havuçları ekleyip 3-4 dakika daha kavurmaya devam edin.</li>
                                <li>Kavrulan havuç ve soğanların üzerine kıymayı ekleyin ve suyunu salıp çekene kadar kavurun.</li>
                                <li>Sarımsak,  tuz ve karabiberi ekleyin. Son olarak rendelenmiş domates ve defne yaprağını ekleyip harcı pişmeye bırakın.</li>
                                <li>Domates, suyunu biraz çektikten sonra içerisine bezelyeyi de ekleyin ve iç harcını pişirmeye devam edin.</li>


                            </ul>
                    </div>

                    
</div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Copyright © JavaScript Grup 2019. Tüm hakları saklıdır. </p>
        
        </div>
    </div>
</div>
</body>
</html>