<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Benim Yemeğim</title>
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div class="ust">
    <div class="ortala">
        <div class="logo">
            <img src="../images/logo.png" width="220px" height="140px">
        </div>
        <nav class="menu">
            <ul>
                <li><a class = "links" href="http://localhost:3000/anasayfa">Anasayfa</a></li> 
                <li><a class = "links" href="http://localhost:3000/hakkimizda">Hakkında</a></li> 
                <li><a href="#">Tariflerim</a></li>
                <li><a href="#">Favorilerim</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="icerik">
    <h1 class="yemek_adi">Pancake Tarifi</h1>
    <div class="ortala">

        <div class="satir1">
            <img src="../images/pancake.jpg" width="750px" height="350px" class="kurabiye" >
    
            <div class="satir2">
                <div class="sutun2">
                    <div class="panel">
                        <h1 class="panel-baslik">Malzeme Listesi</h1>
                        <ul class="malzeme">
                            <li>2 adet yumurta </li>
                            <li>1,5 su bardağı su </li>
                            <li>4 yemek kaşığı sıvı yağ</li>
                            <li>2 yemek kaşığı toz şeker</li>
                            <li>1 tatlı kaşığı kabartma tozu </li>
                            <li>2 su bardağı un</li>
                            <li>1 paket vanilya</li>
                            <li>2-3 yemek kaşığı sıvı yağ </li> 


                        </ul>
                    </div>
                </div>
                <div class="sutun2">
                    <div class="panel sagbosluk">
                        <h1 class="panel-baslik">Yapılışı</h1>
                        <ul class="malzeme">
                                <li>Yumurtaları bir kabın içerisine kırın. Üzerine toz şeker ilave ederek güzelce çırpın.</li>
                                <li>Ardından su ve sıvı yağ, vanilya ve kabartma tozunu da ilave ederek güzelce  çırpmaya devam edin.</li>
                                <li>Unu da eleyerek azar azar ilave edin. Pürüzsüz ve akışkan kıvamlı bir harç elde edene kadar çırpmaya devam edin. Ardından harcınız hazır!</li>
                                <li>Tavanızı ısıtıp hafifçe yağlayın. Harcı tavaya dilediğiniz pancake boyutlarında aktarın. Arkalı önlü güzelce pişirin. Ardından sıcak sıcak servis edin. Afiyetler olsun.</li>


                            </ul>
                    </div>

                    
</div>
            </div>
        </div>
    </div>
</div>
<div class="temizle"></div>
<div class="alt">
    <div class="ortala">
        <p>Copyright © JavaScript Grup 2019. Tüm hakları saklıdır. </p>
        
        </div>
    </div>
</div>
</body>
</html>